/* Feuille de styles CSS */
/*
style.css
---------

Par Fabrice Thilaw
*/
h1
{color: red;
	font-size: 2em;
}
figure
{
	display: table;
	margin-left: auto;
	margin-right: auto;
	text-align : center;
}
.bordered_list
{
	box-shadow : 5px 5px 0px black;
	border: 3px red solid;
}
a:hover{
	font-weight: bold;
}
