body
{
	background-image: url("images/fond.png")
}
@font-face
{
	font-family: 'CaviarDreams';
	src: url('CaviarDreams.ttf');
}

h1
{text-align: center;
color: #0c122d;

}
h2
{
    font-family: CaviarDreams;
    color: #d9abbb
}
.img  {
    float: right;
    border: 2px solid #0c122d;
    box-shadow: 5px 5px 0px black;
}
p.centered
{
    text-align: center;
}